<!-- Javascript -->
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/node_modules/govuk-frontend/all.js"></script>
<script src="/public/javascripts/application.js"></script>
<script src="/public/javascripts/parsley.min.js"></script>
<link href="/public/javascripts/select2.min.css" rel="stylesheet" />
<script src="/public/javascripts/select2.min.js"></script>
<script src="/public/javascripts/form-add-another.js"></script>

{% if pcaKey %}
  <link rel="stylesheet" type="text/css" href="/public/javascripts/pca-3.7.0.css" />
  <script type="text/javascript" src="/public/javascripts/pca-3.7.0.js"></script>
  <script>
  var fields = [
      { element: "search", field: "" },
      { element: "venue-name", field: "Company", mode: pca.fieldMode.DEFAULT | pca.fieldMode.PRESERVE },
      { element: "address-line-1", field: "Line1" },
      { element: "address-line-2", field: "Line2", mode: pca.fieldMode.POPULATE },
      { element: "address-town", field: "City", mode: pca.fieldMode.POPULATE },
      { element: "address-county", field: "Province", mode: pca.fieldMode.POPULATE },
      { element: "address-postcode", field: "PostalCode" }
      // { element: "country", field: "CountryName", mode: pca.fieldMode.COUNTRY }
  ];
  var control = new pca.Address(fields,
  { key: "WC93-KY92-WA98-PA89", search: { countries: "GB" }, setCountryByIP: false });
  </script>
{% endif %}

<script>$(document).ready(function() {
    $('.js-select2').select2();
});
</script>
<script>
  window.Parsley.addValidator('postcode', {
    requirementType: 'string',
    validateString: function(value, requirement) {
        var postcode = value.match(/^([Gg][Ii][Rr] 0[Aa]{2})|((([A-Za-z][0-9]{1,2})|(([A-Za-z][A-Ha-hJ-Yj-y][0-9]{1,2})|(([A-Za-z][0-9][A-Za-z])|([A-Za-z][A-Ha-hJ-Yj-y][0-9][A-Za-z]?))))\s?[0-9][A-Za-z]{2})$/) || [];
        if (postcode.length > 0) {
          return true;
        }
        else {
          return false;
        }
    },
    messages: {
         en: 'The postcode entered is invalid.'
    }
});
  </script>

<script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>
<!-- Hotjar Tracking Code for https://lbh-dos-prototypes.herokuapp.com -->
<script>
(function(h,o,t,j,a,r){
    h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
    h._hjSettings={hjid:1114566,hjsv:6};
    a=o.getElementsByTagName('head')[0];
    r=o.createElement('script');r.async=1;
    r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
    a.appendChild(r);
})(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>

{% if useAutoStoreData %}
  <script src="/public/javascripts/auto-store-data.js"></script>
{% endif %}
