
{% extends "layout_hackney.html" %}

{% block pageTitle %}
  Hackney and City Directory of Service Prototypes
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Directory of Service 
        <span class="govuk-caption-xl">Prototypes</span>
      </h1>{{releaseVersion | log }}

      <h2 class="govuk-heading-m">About these prototypes</h2>

      <p>This prototype explores how we might make information validation quicker and less effort in a directory of service.</p>

      <p>It presents potential solutions for raising the visibility of out-of-date service information, which would allow a service steward to quickly take action.</p>

      <h2 class="govuk-heading-m">Pages</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/data-listing">Service listing</a> 👈 Start here if you're not sure</li>
        <li><a href="/data-listing/0/edit">Service edit</a></li>
        <li><a href="/data-listing/0/out-of-date">Service out of date</a></li>
        <li><a href="/data-listing/0/submission">Service submission</a></li>
        <li><a href="/data-listing/0/update">Service updated</a></li>
      </ul>
    </div>
</div>

{% endblock %}
