{% extends "template.njk" %}
{% block top_of_page %}{% endblock %}

{% block head %}
  {% include "includes/head.html" %}
{% endblock %}

  <body class="{% block body_classes %}{% endblock %}">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    {% block body_start %}{% endblock %}

    <div id="skiplink-container">
      <div>
        <a href="#content" class="skiplink">{{ skip_link_message|default('Skip to main content') }}</a>
      </div>
    </div>

    <div id="global-cookie-message">

        {% block cookie_message %}{% endblock %}

    </div>


    <header role="banner" id="global-header" class="{% block header_class %}{% endblock %}">
      <div class="header-wrapper">
        <div class="header-global">
          <div class="header-logo">
            <a href="{{ homepage_url|default('/') }}" title="{{ logo_link_title|default('Go to the Hackney.gov.uk homepage') }}" id="logo" class="content">
              <img src="{{ asset_path }}images/Hackney_Logo_White.png" width="36" height="32" alt="Hackney.gov.uk"> {{ global_header_text|default('') }}
            </a>
          </div>
          {% block inside_header %}{% endblock %}
        </div>
        {% block proposition_header %}{% endblock %}
      </div>
    </header>


    {% block after_header %}{% endblock %}

    <div id="global-header-bar"></div>

    {% block content %}{% endblock %}

    <footer class="group js-footer" id="footer" role="contentinfo">

      <div class="footer-wrapper">
        {% block footer_top %}{% endblock %}

        <div class="footer-meta">
          <div class="footer-meta-inner">
            {% block footer_support_links %}{% endblock %}

            <div class="open-government-licence">
              <p class="logo"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a></p>

                {% block licence_message %}<p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>{% endblock %}

            </div>
          </div>

          <div class="copyright">
            <a href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/">{{ crown_copyright_message|default('&copy; Crown copyright')|safe }}</a>
          </div>
        </div>
      </div>
    </footer>

    <div id="global-app-error" class="app-error hidden"></div>

    <script src="{{ asset_path }}javascripts/govuk-template.js?0.22.1"></script>

    {% block body_end %}{% endblock %}


    <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>
    <!-- Hotjar Tracking Code for https://lbh-dos-prototypes.herokuapp.com -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:1114566,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
  </body>
</html>
