{% extends "template.njk" %}
{% from "back-link/macro.njk" import govukBackLink %}
{% from "skip-link/macro.njk" import govukSkipLink %}
{% from "header/macro.njk" import govukHeader %}
{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{% from "footer/macro.njk" import govukFooter %}
{% from "macros/diff.html" import diff %}
{% from "button/macro.njk" import govukButton %}
{% from "input/macro.njk" import govukInput %}
{% from "textarea/macro.njk" import govukTextarea %}
{% from "fieldset/macro.njk" import govukFieldset %}
{% from "select/macro.njk" import govukSelect %}
{% from "checkboxes/macro.njk" import govukCheckboxes %}
{% from "radios/macro.njk" import govukRadios %}
{% from "macros/categories_select.html" import categoriesSelect %}
{% from "date-input/macro.njk" import govukDateInput %}

{% block top_of_page %}{% endblock %}

{% block head %}
  {% include "includes/head.html" %}
{% endblock %}

{% block pageTitle %}Hackney and City Directory of Service Prototypes{% endblock %}

    {% block body_start %}{% endblock %}

    {% block after_header %}{% endblock %}
    {% block header %}
    
    {{ govukHeader({
      homepageUrl: "/",
      containerClasses: "govuk-width-container",
      serviceName: "Directory of service",
      serviceUrl: "/",
      navigation: navigation
  }) }}
  {% endblock %}

    {% block content %}{% endblock %}

{% block bodyEnd %}
    {% block scripts %}
        {% include "includes/scripts.html" %}
        {% block pageScripts %}{% endblock %}
    {% endblock %}
{% endblock %}
