{% extends "layout_service_submit_provider.html" %}

{% block form %}
    <form action="./four" method="post" data-parsley-validate>
    {% call govukFieldset({

        legend: {
            text: "Public contact details",
            classes: "govuk-fieldset__legend--xl",
            isPageHeading: true
        }
        }) %}

        <p>These contact details will be displayed to the public.</p>

        {{ govukInput({
            label: {
            text: 'Contact name'
            },
            id: "contact-name",
            name: "contact-name",
            attributes: {
                "data-hj-whitelist": ""
            }
        }) }}

        {{ govukInput({
            label: {
            text: 'Contact position'
            },
            id: "contact-position",
            name: "contact-position",
            attributes: {
                "data-hj-whitelist": ""
            }
        }) }}

        {{ govukInput({
            label: {
            text: 'Contact telephone'
            },
            type: 'tel',
            id: "contact-telephone",
            name: "contact-telephone",
            attributes: {
                "data-hj-whitelist": ""
            }
        }) }}

        {{ govukInput({
            label: {
                text: 'Contact email'
            },
            type: 'email',
            id: "contact-email",
            name: "contact-email",
            attributes: {
                "data-hj-whitelist": ""
            }
        }) }}

    {% endcall %}


    {{ govukButton({
    text: "Save and continue"
    }) }}
    </form

{% endblock %}