{% extends "layout_service_submit_provider.html" %}

{% block pageTitle %}
  Service submit
{% endblock %}

{% block form %}

    <form action="./two" method="post" data-parsley-validate>
    {% call govukFieldset({

        legend: {
            text: "Web pages and social media acounts",
            classes: "govuk-fieldset__legend--xl",
            isPageHeading: true,
            describedBy: "web-pages-info"
        }
        }) %}

        <p id="web-pages-info">We'll use these URLs to pre-fill any information we can gather from existing web pages.</p>

        {{ govukInput({
            label: {
                text: 'Website URL'
            },
            hint: {
                text: 'Example: "https://www.hackney.gov.uk"'
            },
            type: 'url',
            id: "website-url",
            name: "website-url",
            attributes: {
                "data-hj-whitelist": "",
                "data-parsley-remote":"/api/url-exists?url={value}",
                "data-parsley-remote-message": "This page doesn't seem to exist"
            }
        }) }}
    
        {{ govukInput({
            label: {
                text: 'Facebook page URL'
            },
            hint: {
                text: 'Example: "https://www.facebook.com/hackneycouncil"'
            },
            type: 'url',
            id: "facebook-url",
            name: "facebook-url",
            attributes: {
                "data-hj-whitelist": "",
                "data-parsley-remote":"/api/url-exists?url={value}",
                "data-parsley-remote-message": "This page doesn't seem to exist"
            }
        }) }}
    
        {{ govukInput({
            label: {
                text: 'Twitter account name'
            },
            hint: {
                text: 'Example: "hackneycouncil"'
            },
            type: 'text',
            id: "twitter-acount",
            name: "twitter-account"
        }) }}

        {{ govukInput({
            label: {
                text: 'Instagram account name'
            },
            hint: {
                text: 'Example: "hackneycouncil"'
            },
            type: 'text',
            id: "instragram-account",
            name: "instragram-account"
        }) }}

    {% endcall %}

    {{ govukButton({
    text: "Save and continue"
    }) }}
</form>

{% endblock %}