{% extends "layout_service_submit_provider.html" %}

{% block form %}

      <form action="/service-provider-actions/confirm" method="post" data-parsley-validate>
      {% call govukFieldset({
        legend: {
          text: "Date and time",
          classes: "govuk-fieldset__legend--xl",
          isPageHeading: true
        }
      }) %}
      
      {{ govukInput({
          label: {
            text: 'Date Time'
          },
          id: "date-time",
          name: "date-time",
          attributes: {
              "data-hj-whitelist": ""
          }
        }) }}
    
        {{ govukCheckboxes({
        idPrefix: "time-of-day",
        name: "time-of-day",
        fieldset: {
            legend: {
            text: "Time of day"
            }
        },
        items: [
            {
            value: "morning",
            text: "Morning"
            },
            {
            value: "Afternoon",
            text: "Afternoon"
            },
            {
            value: "evening",
            text: "Evening"
            }
        ],
        attributes: {
            "data-hj-whitelist": ""
        }
        }) }}
    
        {{ govukTextarea({
          name: "session-info",
          id: "session-info",
          label: {
              text: "Session information"
          },
          attributes: {
              "data-hj-whitelist": ""
          }
      }) }}
      
      {% endcall %}

    {{ govukButton({
    text: "Save and finish"
    }) }}
</form>

{% endblock %}