{% extends "layout_hackney.html" %}
{% from "input/macro.njk" import govukInput %}
{% from "button/macro.njk" import govukButton %}
{% from "back-link/macro.njk" import govukBackLink %}
{% from "textarea/macro.njk" import govukTextarea %}
{% from "fieldset/macro.njk" import govukFieldset %}
{% from "select/macro.njk" import govukSelect %}
{% from "checkboxes/macro.njk" import govukCheckboxes %}
{% from "radios/macro.njk" import govukRadios %}

{% block pageTitle %}
  Service submit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    {{ govukBackLink({
        text: "Back",
        href: "/service-provider-actions"
    }) }}
      <h1 class="govuk-heading-xl">
        Submit a new service 
        <span class="govuk-caption-xl">Step {{ step }} of {{ steps }}</span>
      </h1>
      <form action="./two" method="post" data-parsley-validate>
    {% call govukFieldset({

        legend: {
            text: "Web links",
            classes: "govuk-fieldset__legend--l",
            isPageHeading: false
        }
        }) %}

        {{ govukInput({
            label: {
                text: 'Website'
            },
            type: 'url',
            id: "website-url",
            name: "website-url",
            attributes: {
                "data-hj-whitelist": "",
                "data-parsley-remote":"/api/url-exists?url={value}",
                "data-parsley-remote-message": "This page doesn't seem to exist"
            }
        }) }}
    
        {{ govukInput({
            label: {
                text: 'Facebook'
            },
            type: 'url',
            id: "facebook-url",
            name: "facebook-url",
            attributes: {
                "data-hj-whitelist": "",
                "data-parsley-remote":"/api/url-exists?url={value}",
                "data-parsley-remote-message": "This page doesn't seem to exist"
            }
        }) }}
    
        {{ govukInput({
            label: {
                text: 'Twitter'
            },
            type: 'url',
            id: "twitter-url",
            name: "twitter-url",
            attributes: {
                "data-hj-whitelist": "",
                "data-parsley-remote":"/api/url-exists?url={value}",
                "data-parsley-remote-message": "This page doesn't seem to exist"
            }
        }) }}

    {% endcall %}

    {{ govukButton({
    text: "Save and continue"
    }) }}
</form>
    </div>
</div>

{% endblock %}