{% extends "layout_hackney.html" %}

{% block pageTitle %}
    Add service
{% endblock %}

{% block content %}
<h1 class="govuk-heading-xl">
    Add events 
</h1>
<form action="/service-provider-actions/confirm" method="post" data-parsley-validate>
<input name="confirmation-message" type="hidden" value="Event information saved">
<input name="ctas[0][text]" type="hidden" value="Add another event">
<input name="ctas[0][url]" type="hidden" value="/service-provider-actions/add-events">
<input name="ctas[1][text]" type="hidden" value="Add another service">
<input name="ctas[1][url]" type="hidden" value="/service-provider-actions/add-service">
<div class="js-form-add-another" data-form-add-another-noun="event">
{% call govukFieldset({
    classes : "js-form-add-another__instance",
    legend: {
        html: "Event <span class=\"js-form-add-another__number\">1</span>",
        classes: "govuk-fieldset__legend--l",
        isPageHeading: false
    }
}) %}

{{ govukInput({
      label: {
          text: 'Details'
      },
      type: 'text',
      name: "events[1]['details']",
      attributes: {
          "data-hj-whitelist": ""
        }
  }) }}

  {{ govukSelect({
    name: "events[1].venue",
    label: {
        text: "Venue"
    },
    items: [
        {
        value: "org-venue",
        text: "Organisation venue"
        },
        {
        value: "add-another-venue",
        text: "Add another venue"
        }
    ],
    attributes: {
        "data-hj-whitelist": ""
    }
    }) }}

{% call govukFieldset({
    legend: {
        text: "Date and time",
        classes: "govuk-fieldset__legend--m",
        isPageHeading: false
    }
}) %}
<div class="govuk-grid-row">
{{ govukDateInput({
    namePrefix: "events[1].start-date",
    formGroup: {
        classes: "govuk-grid-column-one-half"
    },
    fieldset: {
        legend: {
            text: "Start date",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--s"
        }
    }
}) }}
{{ govukDateInput({
    namePrefix: "events[1].end-date",
    formGroup: {
        classes: "govuk-grid-column-one-half"
    },
    fieldset: {
        legend: {
            text: "End date",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--s"
        }
    }
}) }}
</div>

<div class="govuk-grid-row">
    {{ govukInput({
    formGroup: {
        classes: "govuk-grid-column-one-half"
    },
    label: {
        text: 'Start time',
        classes: "govuk-!-font-weight-bold"
    },
    type: 'time',
    name: "events[1].start-time",
    attributes: {
        "data-hj-whitelist": ""
    }
}) }}

{{ govukInput({
    formGroup: {
        classes: "govuk-grid-column-one-half"
    },
    label: {
        text: 'End time',
        classes: "govuk-!-font-weight-bold"
    },
    type: 'time',
    name: "events[1].end-time",
    attributes: {
        "data-hj-whitelist": ""
        }
}) }}
</div>

{{ govukRadios({
    classes: "govuk-radios--inline",
    idPrefix: "events[1]repeat",
    name: "events[1].repeat",
    fieldset: {
    legend: {
        text: "Does this event repeat?",
        classes: "govuk-fieldset__legend--s"
      }
  },
  items: [
  {
      value: "yes",
      text: "Yes"
    },
    {
        value: "no",
        text: "No",
        checked: true
  }
  ]
}) }}

{% endcall %}

{% call govukFieldset({
    legend: {
        text: "Costs",
        classes: "govuk-fieldset__legend--m",
        isPageHeading: false
    }
}) %}

{{ govukInput({
    label: {
        text: 'Amount'
    },
    hint: {
        text: 'Example: £5.99'
    },
    type: 'text',
    name: "events[1].cost-amount",
    attributes: {
        "data-hj-whitelist": ""
    }
}) }}

{{ govukSelect({
    name: "events[1].cost-type",
    label: {
        text: "Cost type"
    },
    items: [
        {
        value: "deposit",
        text: "Desposit"
        },
        {
        value: "per-day",
        text: "Per day"
        },
        {
        value: "per-hour",
        text: "Per hour"
        },
        {
        value: "per-month",
        text: "Per month"
        },
        {
        value: "per-session",
        text: "Per session"
        },
        {
        value: "per-term",
        text: "Per term"
        },
        {
        value: "per-week",
        text: "Per week"
        },
        {
        value: "per-year",
        text: "Per year"
        },
        {
        value: "registration-fee",
        text: "Registration fee",
        selected: true
        }
    ],
    attributes: {
        "data-hj-whitelist": ""
    }
}) }}
{% endcall %}

{% endcall %}
</div>

  {{ govukButton({
    text: "Save events"
  }) }}
  
</form>
{% endblock %}