{% extends "layout_hackney.html" %}

{% block pageTitle %}
    Add service
{% endblock %}

{% block content %}
<h1 class="govuk-heading-xl">
    Add service 
</h1>
<form action="/service-provider-actions/add-events" method="post" data-parsley-validate>
{{ govukInput({
      label: {
          text: 'Service name'
      },
      type: 'text',
      id: "service-name",
      name: "service-name",
      attributes: {
          "data-hj-whitelist": ""
        }
  }) }}
  
  {{ govukTextarea({
      label: {
          text: 'Service description'
        },
      type: 'text',
      id: "service-desc",
      name: "service-desc",
      attributes: {
          "data-hj-whitelist": ""
        }
  }) }}

  {{ govukButton({
    text: "Save and add events"
  }) }}
  
  {{ govukButton({
    text: "Save and finish",
    attributes: {
        formaction: "/service-provider-actions"
    }
  }) }}

  
  
</form>
{% endblock %}