{% extends "layout_service_submit_provider.html" %}

{% block form %}

      {% call govukFieldset({
        legend: {
          text: "Cost information",
          classes: "govuk-fieldset__legend--xl",
          isPageHeading: true
        }
      }) %}
      <form action="./six" method="post" data-parsley-validate>
      {{ govukInput({
          label: {
            text: 'Amount'
          },
          id: "cost-amount",
          name: "cost-amount",
          attributes: {
              "data-hj-whitelist": ""
          }
        }) }}
    
        {{ govukSelect({
        id: "cost-type",
        name: "cost-type",
        label: {
            text: "Cost type"
        },
        items: [
            {
            value: "deposit",
            text: "Desposit"
            },
            {
            value: "per-day",
            text: "Per day"
            },
            {
            value: "per-hour",
            text: "Per hour"
            },
            {
            value: "per-month",
            text: "Per month"
            },
            {
            value: "per-session",
            text: "Per session"
            },
            {
            value: "per-term",
            text: "Per term"
            },
            {
            value: "per-week",
            text: "Per week"
            },
            {
            value: "per-year",
            text: "Per year"
            },
            {
            value: "registration-fee",
            text: "Registration fee",
            selected: true
            },
            {
            value: "special-offer",
            text: "Special offer see 'other info'"
            }
        ],
        attributes: {
            "data-hj-whitelist": ""
        }
        }) }}
    
        {{ govukTextarea({
          name: "cost-details",
          id: "cost-details",
          label: {
              text: "Additional cost details"
          },
          attributes: {
              "data-hj-whitelist": ""
          }
      }) }}

      {% endcall %}

    {{ govukButton({
    text: "Save and continue"
    }) }}
    </form>

{% endblock %}