{% extends "layout_hackney.html" %}

{% block pageTitle %}
    Add service
{% endblock %}

{% block content %}
<h1 class="govuk-heading-xl">
    Add service 
</h1>
<form action="/service-provider-actions/add-events" method="post" data-parsley-validate>
<input name="confirmation-message" type="hidden" value="Service information saved">
<input name="ctas[0][text]" type="hidden" value="Add event information">
<input name="ctas[0][url]" type="hidden" value="/service-provider-actions/add-events">
<input name="ctas[1][text]" type="hidden" value="Add another service">
<input name="ctas[1][url]" type="hidden" value="/service-provider-actions/add-service">
    {{ govukInput({
      label: {
          text: 'Service name'
      },
      type: 'text',
      id: "service-name",
      name: "service-name",
      attributes: {
          "data-hj-whitelist": ""
        }
  }) }}


  {% if eligibility %}
    {{ categoriesSelect(
        title = 'Eligibilities',
        items = eligibility
    ) }}
  {% endif %}

    {{ govukSelect({
        name: "service-contact",
        label: {
            text: "Public contact details"
        },
        items: [
        {
            value: "org-contact",
            text: "Organisation contact"
            },
            {
                value: "add-another-contact",
                text: "Add another contact"
            }
        ],
        attributes: {
            "data-hj-whitelist": ""
        }
    }) }}

  
  {{ govukTextarea({
      label: {
          text: 'Service description'
        },
      type: 'text',
      id: "service-desc",
      name: "service-desc",
      attributes: {
          "data-hj-whitelist": ""
        }
  }) }}

  {{ govukButton({
    text: "Save and add events"
  }) }}
  
  {{ govukButton({
    text: "Save and finish",
    attributes: {
        formaction: "/service-provider-actions/confirm"
    }
  }) }}

  
  
</form>
{% endblock %}