{% extends "layout_hackney.html" %}
{% from "table/macro.njk" import govukTable %}
{% from "button/macro.njk" import govukButton %}
{% from "panel/macro.njk" import govukPanel %}

{% block content %}
<h1 class="govuk-heading-xl">Your organisation </h1>

{% if message %}
  {{ govukPanel({
      titleText: title,
      text: message
  }) }}
  {% endif %}
  
  {% if ctas %}
    {% for cta in ctas %}
    {{ govukButton({
      text: cta['text'],
      href: cta['url'],
      classes: "govuk-button--start"
    }) }}
    {% endfor %}
  {% else %}
    {{ govukButton({
      text: "Set up organisation listing",
      href: "/service-provider-actions/submit/one",
      classes: "govuk-button--start"
    }) }}
{% endif %}

{% if dummyListings %}
<h2 class="govuk-heading-l">Your services</h2>
{{ govukTable({
  firstCellIsHeader: true,
  head: [
  {
      text: "Name"
    },
    {
      text: "Status"
    },
    {
      text: "Type"
    },
    {
      text: "Last updated"
    },
    {
        text: "Actions"
    }
    ],
    rows: [
    [
    {
        text: "Service 1"
      },
      {
        html: "<strong class='govuk-tag hackit-tag--mundane'>Live</strong>"
      },
      {
        text: "Community group"
      },
      {
        text: "13:56 11/01/2018"
      },
      {
        html: '1' | actionLink
      }
    ],
    [
      {
        text: "Service 2"
      },
      {
        html: "<strong class='govuk-tag hackit-tag--danger'>Out of date</strong>"
      },
      {
        text: "Private limited company"
      },
      {
        text: "12:14 13/02/2017"
      },
      {
        html: '2' | actionLink(true)
      }
    ],
    [
      {
        text: "Service 3"
      },
      {
        html: "<strong class='govuk-tag hackit-tag--mundane'>Archived</strong>"
      },
      {
        text: "Housing association"
      },
      {
        text: "08:36 27/02/2016"
      },
      {
        html: '3' | actionLink
      }
    ]
    ]
}) }}
{% endif %}
{% endblock %}