{% extends "layout_hackney.html" %}
{% from "table/macro.njk" import govukTable %}
{% from "button/macro.njk" import govukButton %}

{% block content %}
<h1 class="govuk-heading-xl">Services for your organisation </h1>

{% if message %}
{% from "panel/macro.njk" import govukPanel %}
    {{ govukPanel({
        titleText: title,
        text: message
    }) }}
{% endif %}
{{ govukButton({
    text: "Submit a new service",
    href: "/service-provider-actions/submit/one",
    classes: "govuk-button--start"
}) }}

{{ govukTable({
  firstCellIsHeader: true,
  head: [
    {
      text: "Name"
    },
    {
      text: "Status"
    },
    {
      text: "Type"
    },
    {
        text: "Last updated"
    },
    {
        text: "Actions"
    }
  ],
  rows: [
    [
      {
        text: "Service 1"
      },
      {
        html: "<strong class='govuk-tag hackit-tag--mundane'>Live</strong>"
      },
      {
        text: "Community group"
      },
      {
        text: "13:56 11/01/2018"
      },
      {
        html: '1' | actionLink
      }
    ],
    [
      {
        text: "Service 2"
      },
      {
        html: "<strong class='govuk-tag hackit-tag--danger'>Out of date</strong>"
      },
      {
        text: "Private limited company"
      },
      {
        text: "12:14 13/02/2017"
      },
      {
        html: '2' | actionLink(true)
      }
    ],
    [
      {
        text: "Service 3"
      },
      {
        html: "<strong class='govuk-tag hackit-tag--mundane'>Archived</strong>"
      },
      {
        text: "Housing association"
      },
      {
        text: "08:36 27/02/2016"
      },
      {
        html: '3' | actionLink
      }
    ]
  ]
}) }}
{% endblock %}