{% extends "layout_service_submit_provider.html" %}

{% block form %}

{% set titleValue = "" %}
{% if facebookData.title %}
    {% set titleValue = facebookData.title %}
{% endif %}
{% set descValue = "" %}
{% if facebookData.description %}
    {% set descValue = facebookData.description %}
{% endif %}

<h1 class="govuk-heading-xl">Service information</h1>
    <form action="./three" method="post" data-parsley-validate>
    {{ govukInput({
    label: {
        text: "Title"
    },
    id: "title",
    name: "title",
    value: titleValue,
    attributes: {
        "data-hj-whitelist": "",
        "required": "required"
    }
}) }}


    {{ govukTextarea({
    name: "description",
    id: "description",
    value: descValue,
    label: {
        text: "Description"
    },
    attributes: {
        "data-hj-whitelist": ""
    }
    }) }}

    {{ govukButton({
    text: "Save and continue"
    }) }}
    </form>

{% endblock %}