{% extends "layout_hackney.html" %}

{% block pageTitle %}
    Add service
{% endblock %}

{% block content %}
<h1 class="govuk-heading-xl">
    Add events 
</h1>
<form action="/service-provider-actions/confirm" method="post" data-parsley-validate>
<input name="confirmation-message" type="hidden" value="Event information saved">
<input name="ctas[0][text]" type="hidden" value="Add another event">
<input name="ctas[0][url]" type="hidden" value="/service-provider-actions/add-events">
<input name="ctas[1][text]" type="hidden" value="Add another service">
<input name="ctas[1][url]" type="hidden" value="/service-provider-actions/add-service">
<div class="js-form-add-another" data-form-add-another-noun="event">
{% call govukFieldset({
    classes : "js-form-add-another__instance",
    legend: {
        html: "Event <span class=\"js-form-add-another__number\">1</span>",
        classes: "govuk-fieldset__legend--l",
        isPageHeading: false
    }
}) %}

{{ govukInput({
      label: {
          text: 'Details'
      },
      type: 'text',
      name: "events[1][details]",
      attributes: {
          "data-hj-whitelist": ""
        }
  }) }}

  {{ govukSelect({
    name: "events[1][venue]",
    label: {
        text: "Venue"
    },
    items: [
    {
        value: "org-venue",
        text: "Organisation venue"
        },
        {
            value: "add-another-venue",
            text: "Add another venue"
        }
    ],
    attributes: {
        "data-hj-whitelist": ""
    }
    }) }}
    
    {% call govukFieldset({
        legend: {
            text: "Date and time",
        classes: "govuk-fieldset__legend--m",
        isPageHeading: false
    }
}) %}
<div class="js-conditional-fields">
{{ govukSelect({
    name: "events[1][frequency]",
    label: {
        text: "Frequency"
    },
    formGroup: {
        classes: 'js-conditional-fields__operator'
    },
    items: [
        {
        value: "",
        text: "Select frequency",
        selected: true
        },
        {
        value: "occurs-once",
        text: "Occurs once"
        },
        {
        value: "daily",
        text: "Daily"
        },
        {
        value: "weekly",
        text: "Weekly"
        },
        {
        value: "monthly",
        text: "Monthly"
        }
    ],
    attributes: {
        "data-hj-whitelist": ""
    }
}) }}

<div class="js-conditional-fields__fields" data-conditional-fields-for="occurs-once">
    {% include 'includes/date-and-time.html' %}
</div>
<div class="js-conditional-fields__fields" data-conditional-fields-for="daily">
    <div class="js-generate-dates" data-generate-dates="daily">
        {% include 'includes/date-and-time.html' %}
        <div class="js-generate-dates__container"></div>
    </div>
</div>
<div class="js-conditional-fields__fields" data-conditional-fields-for="weekly">
    <div class="js-generate-dates" data-generate-dates="weekly">
        {% include 'includes/date-and-time.html' %}
        <div class="js-generate-dates__container"></div>
    </div>
</div>
<div class="js-conditional-fields__fields" data-conditional-fields-for="monthly">
    <div class="js-generate-dates" data-generate-dates="monthly">
        {% include 'includes/date-and-time.html' %}
        <div class="js-generate-dates__container"></div>
    </div>
</div>
</div>

{% endcall %}

<div class="js-form-add-another" data-form-add-another-noun="cost">
{% call govukFieldset({
    classes : "js-form-add-another__instance",
    legend: {
        html: "Costs <span class=\"js-form-add-another__number\">1</span>",
        classes: "govuk-fieldset__legend--m",
        isPageHeading: false
    }
}) %}

{{ govukInput({
    label: {
        text: 'Amount'
    },
    hint: {
        text: 'Example: £5.99'
    },
    type: 'text',
    name: "events[1][cost-amount]",
    attributes: {
        "data-hj-whitelist": ""
    }
}) }}

{{ govukSelect({
    name: "events[1][cost-type]",
    label: {
        text: "Cost type"
    },
    items: [
        {
        value: "deposit",
        text: "Desposit"
        },
        {
        value: "per-day",
        text: "Per day"
        },
        {
        value: "per-hour",
        text: "Per hour"
        },
        {
        value: "per-month",
        text: "Per month"
        },
        {
        value: "per-session",
        text: "Per session"
        },
        {
        value: "per-term",
        text: "Per term"
        },
        {
        value: "per-week",
        text: "Per week"
        },
        {
        value: "per-year",
        text: "Per year"
        },
        {
        value: "registration-fee",
        text: "Registration fee",
        selected: true
        }
    ],
    attributes: {
        "data-hj-whitelist": ""
    }
}) }}
{% endcall %}
</div>
{% endcall %}
</div>

  {{ govukButton({
    text: "Save events"
  }) }}
  
</form>
{% endblock %}