{% extends "layout_hackney.html" %}
{% from "back-link/macro.njk" import govukBackLink %}

{% block pageTitle %}
  Service out of date
{% endblock %}

{% block content %}

{% set title = 'Bikur Cholim' %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-hirds">
        {{ govukBackLink({
            text: "Back",
            href: "/service-provider-actions"
        }) }}
      <h1 class="govuk-heading-xl">
        Out of date 
        <span class="govuk-caption-xl">{{ title }}</span>
      </h1>

      <h2 class="govuk-heading-m">
            Contact details
        </h2>
        <dl class="app-check-your-answers app-check-your-answers--long">
            <div class="app-check-your-answers__contents">
              <dt class="app-check-your-answers__question">
                  Website
              </dt>
              <dd class="app-check-your-answers__answer">
                404 not found
              </dd>
              <dd class="app-check-your-answers__change">
                  <a href="/service-provider-actions/0/edit">
                  Edit<span class="govuk-visually-hidden"> website</span>
                </a>
              </dd>
            </div>
          </dl>
      
        <h2 class="govuk-heading-m">
                Venue details
        </h2>
        <dl class="app-check-your-answers app-check-your-answers--long">
            <div class="app-check-your-answers__contents">
              <dt class="app-check-your-answers__question">
                  Venue details
              </dt>
              <dd class="app-check-your-answers__answer">
                User flagged
              </dd>
              <dd class="app-check-your-answers__change">
                  <a href="/service-provider-actions/0/edit">
                  Edit<span class="govuk-visually-hidden"> venue details</span>
                </a>
              </dd>
            </div>
          </dl>
    </div>
</div>

{% endblock %}